<div class="side-menu-left row">
		<nav id="#navbarCollapse" class="navbar navbar-default sidebar" role="navigation">
			<div class="container-fluid">
					<ul class="nav navbar-nav">
						<li><%= link_to "Banco de Questões", questionarios_path%></li>
						<li><%= link_to "Categoria de Questões", categorias_path%></li>
						<li><%= link_to "Questões", questoes_path%></li>
						<li><%= link_to "Noticias", noticias_path%></li>
						<li><%= link_to "Cursos", cursos_path%></li>
						<li><%= link_to "Professores", professores_path%></li>
					</ul>
			</div>      
		</nav>
</div>
